*{
	padding: 0px;
	margin: 0px;
}
	
#main{
	font-size: 30px;
	text-align: center;
}

.first a{
	color: black;
    padding: 30px;
    text-decoration: none;
    font-size: 22px;
    line-height: 50px;
    border-radius: 4px;
}

#img{
	margin: 100px; 
	height: 300px; 
	width: 500px;
}

.second{
	margin: 70px;
	height: 400px;
	width: 735px;
	text-align: left;
	color: black;
	/*line-height: 75px;*/
	font-size: 18px;
}